Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PIL==1.1.7
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
Werkzeug==0.10.4
gunicorn==19.3.0
httplib2==0.9
itsdangerous==0.24
numpy==1.9.2
pytz==2015.2
six==1.9.0
twilio==3.8.0
virtualenv==12.1.1
vispy==0.3.0
